<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Práctica Angular</title>
</head>
<body>
    <div class="main-container">
        <div class="container">
            <h1>Compra de boletos Cinepolis</h1>
            <div [formGroup]="formularioCompra">

                <div class="mb-3">
                    <label for="nombreComprador">Nombre:</label>
                    <input type="text" id="nombreComprador" formControlName="nombreComprador">
                </div>

                <div class="mb-3">
                    <label for="numCompradores">No. de compradores:</label>
                    <input type="number" id="numCompradores" formControlName="numCompradores">
                </div>

                <div class="mb-3">
                    <label>¿Cuentas con tarjeta CINECO?</label>
                    <div class="radio-group">
                        <label>Si
                            <input type="radio" formControlName="cineco" value="si">
                        </label>
                        <label>No
                            <input type="radio" formControlName="cineco" value="no">
                        </label>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="numBoletos">No. de boletos:</label>
                    <input type="number" id="numBoletos" formControlName="numBoletos">
                    <div *ngIf="formularioCompra.get('numBoletos')?.errors?.['limiteExcedido'] && formularioCompra.get('numBoletos')?.touched">
                        <span class="error-message">No se pueden comprar más de {{ formularioCompra.get('numCompradores')?.value * 7 }} boletos</span>
                    </div>
                </div>

                <button (click)="onSubmit()">Comprar</button>
            </div>
        </div>

        <div *ngIf="mostrarInfo" class="info-box">
            <h3>Resumen de la compra:</h3>
            <p><strong>Nombre del comprador:</strong> {{ nombreComprador }}</p>
            <p><strong>Número de boletos:</strong> {{ numBoletos }}</p>
            <p><strong>Total a pagar:</strong> ${{ totalpagar }}</p>
        </div>
    </div>
</body>
</html>
