<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Práctica Angular</title>
</head>
<body>
    <h1>Compra de boletos Cinepolis</h1>
    <div>

        <label for="">

            <div>

                Nombre:
                <br>
                <input type="text" formControlName="nombrecomprador">

            </div>
            <div>

                No. de compradores:
                <br>
                <input type="number" formControlName="numCompradores">

            </div>
            <div class="mb-3">

                ¿Cuentas con tarjeta CINECO?
                <br>
                
                <div>Si<input type="radio" formControlName="tarSi">No<input type="radio" formControlName="tarNo"></div>

            </div>
            <div>

                No. de boletos:
                <br>
                <input type="number" formControlName="numBoletos">

            </div>
            
        </label>

    </div>
</body>
</html>